html {
    background: cornsilk;

}

h1{
    font-size:  40px;
}

p{
    font-size: 20px;
}

a:hover{
    color:black;
}
#main{
    text-align: center;
}

img{
    width: 260px;
    height: 260px;
}

.learn{
    border:1px solid black;
    padding: 5px;
    color:black;
}
.learn:hover{
    background: white;
}

.help{
    width: 350px;
    height: 350px;
}